body {
    background-image: url(./what-the-hex-dark/what-the-hex-dark.png);
    background-position: top;
    margin: 0;
}
header nav ul li {
    display: inline-flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
}
/* mouse over link*/
a:hover {
    color: purple;
}
/* selected link */
a:active {
    color: fuchsia;
}
/* Container holding the image, title and nav bar */
.banner {
    position: relative;
    background-image: url(./Assets/neon-sunset.png);
    height: 270px;
    width: 100%;
    padding-bottom: 100px;
}
header {
    width: 100vw;
}
.profilepic {
    position: absolute;
    top: 30px;
    left: 60px;
    border: 1px hotpink solid;
    width: 150px;
}
/*Bottom left header text*/
.danniw {
    position: absolute;
    top: 250px;
    bottom: 8px;
    left: 16px;
    font-size: 100px;
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;  
    color: lightpink; 
    display: inline;
}
/* Navigates to different parts of the page*/
.navigation {
    font-size: 40px;
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-flex;
    width: 600px;
    z-index: 1;
    position: absolute;
    right: 0;
}
.content {
    display: grid;
    grid-template-columns: 25vw 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
}
#abouttitle {
    grid-column: 1;
    grid-row: 1;
}
#aboutcontent {
    grid-column: 2;
    grid-row: 1;
}
#projecttitle {
    grid-column: 1;
    grid-row: 2;
}
#Projects {
    grid-gap: 50px;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
}
#passwordgen {
    grid-column: 1 / 2;
    grid-row: 2;
}
#horiseon {
    grid-row: 3;
}
#ybbsocials {
    grid-row: 2;
    grid-column: 2;
}
#contacttitle {
    grid-column: 1;
    grid-row: 3;
}

h2 {
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 65px;
    color: purple;
    display: inline-flex;
    margin-left: 50px;
}
p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: start;
    padding: 50px;
    margin-right: 50px;
    background-color: mistyrose;
    border: 2px purple solid;
    border-radius: .5rem;
    background-image: url(./sakura/sakura.png);
}
.fab {
    font-size: 100px;
    padding-right: 50px;
}