body {
    /* background-image: url(./what-the-hex-dark/what-the-hex-dark.png); */
    background-image: url(./white-waves/white-waves.png);
    background-position: top;
    margin: 0;
}
header nav ul li {
    display: inline-flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
}
a {
    color: rgb(226, 169, 207);
}
/* mouse over link*/
a:hover {
    color: purple;
}
/* selected link */
a:active {
    color: fuchsia;
}
/* Container holding the image, title and nav bar */
.banner {
    position: relative;
    background-image: url(./Assets/neon-sunset.png);
    height: 270px;
    width: 100%;
    padding-bottom: 100px;
}
header {
    width: 100vw;
}
.profilepic {
    position: absolute;
    top: 30px;
    left: 60px;
    border: 1px hotpink solid;
    width: 200px;
    border-radius: 10rem;
}
/*Bottom left header text*/
.danniw {
    position: absolute;
    top: 250px;
    bottom: 8px;
    left: 16px;
    font-size: 100px;
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;  
    color: lightpink; 
    display: inline;
}
/* Navigates to different parts of the page*/
.navigation {
    font-size: 40px;
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-flex;
    width: 600px;
    z-index: 1;
    position: absolute;
    right: 0;
}

h2 {
    font-family: 'Heebo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 65px;
    color: purple;
    display: inline-flex;
    margin-left: 50px;
}
p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: start;
    padding: 50px;
    margin-right: 50px;
    background-color: white;
    /* border: 2px 30px purple solid; */
    /* border-radius: .2rem; */
    /* background-image: url(./white-waves/white-waves.png); */
    margin-left: 100px;
    box-shadow: 2px 2px 15px rgb(101, 2, 121);;

}
.fab {
    font-size: 100px;
    padding-right: 50px;
}
.far {
    font-size: 100px;
    padding-right: 50px;
}
.fas {
    font-size: 100px;
    padding-right: 50px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

.project-card{
    cursor: pointer;
    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 30px rgb(101, 2, 121);
    margin: 50px;

    /* margin-left: 200px; */
}

.project-card:hover{
    box-shadow: 2px 2px 15px rgb(101, 2, 121);;
}
.d-flex{
    display: flex;
}

.align-end{
    align-items: end;
}

.icon-small{
    font-size: 5rem;
    /* padding: 30px; */
    margin: 50px;
}

.move-to-btm-right{
    margin-top: auto;
    margin-left: auto;
}

.show-links-on-hover > a{
    opacity: 0;
}

.show-links-on-hover:hover > a {
    opacity: 1;
}


#Contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 100px;
}
